<ion-content [fullscreen]="true" class="ion-padding">
  <div class="mx-8 my-5 text-left"> <!-- Alineación a la izquierda -->
    <img class="mb-5" src="../../assets/logo.png">
    <h1 class="p-1 font-bold text-2xl mt-15 mb-2">Paga tu compra</h1>
    <p class="ml-1 mb-2">Paga el total del carrito</p>
  </div>

  <div class="flex justify-between mb-6 mx-8 mt-4">
    <p class="text-md">Total</p>
    <div *ngIf="total">
      <p class="text-md font-bold">$ {{total}}</p>
    </div>
  </div>
  <div *ngIf="userData !== null">

    <ion-button expand="block" class="ion-margin-top" (click)="paymentSheet()">Pagar con tarjeta de credito</ion-button>
  
    <!-- <ion-button expand="block" class="ion-margin-top" (click)="paymentFlow()">Pagar con tarjeta de credito/debito</ion-button> -->
    
    <ion-button expand="block" class="ion-margin-top" (click)="googlePay()">Pagar con Google Play</ion-button>
  </div>
 
</ion-content>
