<ion-content >

    <ion-card-header>
      <ion-card-title>Formulario de Evaluación</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <!-- Pregunta 1 -->
      <ion-item>
        <ion-label>¿Qué te parecio el catalogo de platillos ?</ion-label>
        <ion-radio-group [(ngModel)]="responses.catalogExperience">
          <ion-item>
            <ion-label>Bien</ion-label>
            <ion-radio slot="start" value="3"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Medio</ion-label>
            <ion-radio slot="start" value="2"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Difícil</ion-label>
            <ion-radio slot="start" value="1"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-item>
  
      <!-- Pregunta 2 -->
      <ion-item>
        <ion-label>¿Cómo fue tu experiencia con la compra de platillos?</ion-label>
        <ion-radio-group [(ngModel)]="responses.orderProcess">
          <ion-item>
            <ion-label>Bien</ion-label>
            <ion-radio slot="start" value="3"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Medio</ion-label>
            <ion-radio slot="start" value="2"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Difícil</ion-label>
            <ion-radio slot="start" value="1"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-item>
  
      <!-- Pregunta 3 -->
      <ion-item>
        <ion-label>¿Cómo sentiste el proceso de pago en la aplicación?</ion-label>
        <ion-radio-group [(ngModel)]="responses.paymentProcess">
          <ion-item>
            <ion-label>Bien</ion-label>
            <ion-radio slot="start" value="3"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Medio</ion-label>
            <ion-radio slot="start" value="2"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Difícil</ion-label>
            <ion-radio slot="start" value="1"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-item>
    </ion-card-content>
 

  <div class="ion-padding">
    <ion-button (click)="cerrarEncuesta()" color="danger" expand="block">Cerrar</ion-button>
    <ion-button  (click)="enviarFeecback()" color="primary" expand="block">Enviar Evaluación</ion-button>
  </div>
</ion-content>

