<ion-content [fullscreen]="true" class="relative">
  <!-- Sección con imagen de fondo -->
  <div class="relative h-[38vh] bg-cover bg-center" style="background-image: url('https://i.pinimg.com/564x/d7/11/46/d71146c6f3093a590410ec0be465547a.jpg');">
    <!-- Capa con opacidad para la imagen -->
    <div class="absolute inset-0 bg-black opacity-5"></div>

    <div class="flex justify-between absolute top-4 left-5 right-5 z-20">
      <ion-icon (click)="inicio()" name="chevron-back-outline" class="h-6 w-6 text-white"></ion-icon>
    </div>

  </div>

  <div class="bg-white rounded-t-[35px]  -mt-12 z-20 relative">
    <div class="m-4 p-4">
      <h2 class="parrafo text-black text-center font-bold text-2xl pt-2 mb-4 relative">
        Inicio de <span class="text-green-600">sesión</span>
      </h2>
      <form (ngSubmit)="onSubmit()" class="mt-2">
        <p class=" text-lg font-bold">Correo</p>
           <input type="text" name="email" [(ngModel)]="email"
          class="block mt-2 w-full h-12 text-lg border-0 rounded-[15px] py-1.5 pl-7 pr-20 text-gray-900 ring-1 ring-inset placeholder:text-gray-400"
          placeholder="ejemplo@gmail.com">

          <p class="text-lg font-bold mt-2 mb-2">Contraseña</p>
          <div class="flex justify-between w-full h-12 text-lg py-1.5 pl-7 pr-4 items-center ring-1 ring-inset ring-gray-300 border-0 rounded-[15px]">
            <!-- Input de contraseña -->
            <input [type]="passwordVisible ? 'text' : 'password'" name="password" [(ngModel)]="password"
              class="flex-grow outline-none text-gray-900 placeholder-gray-400 bg-transparent"
              placeholder="****">
            
            <!-- Icono para mostrar/ocultar contraseña -->
            <ion-icon [name]="passwordVisible ? 'eye-off-outline' : 'eye-outline'"
              class="text-gray-600 cursor-pointer text-2xl"
              (click)="togglePasswordVisibility()"></ion-icon>
          </div>

          
          
        <div class="justify-end items-end mt-5">
          <p class="text-gray-600 text-end"><a (click)="recuperarContra()" name="redirigir">Olvide mi contraseña</a></p>
        </div>
        <div class="justify-center mt-5">
          <ion-button type="submit" class="ion-button-login shadow-lg w-full text-white font-bold text-lg ">Iniciar sesión</ion-button>
        </div>        
      </form>
   
    </div>

    <p class="text-gray-500 text-center mt-5"><a href="">Términos y condiciones</a></p>
  </div>
</ion-content>

<style>
  .parrafo {
    font-family: 'Lobster', cursive;
  }


  .relative.bg-cover.bg-center {
    background-size: cover;
    background-position: center;
  }
</style>