.ion-button-login {
  --background: #1baa62;
  --background-hover: #058d49;
  --background-activated: #00ff80;
  --background-focused: #07c265;

  --border-radius: 10px;
  --border-width: 1px;

  --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);


  --padding-top: 20px;
  --padding-bottom: 20px;
  }

  .ion-button-google{
    text-transform: lowercase;

  
    --color:#dfdfdf;

    --border-radius: 12px;
    --border-style:rgb(199, 199, 199);

    --border-width: 1px;
  
    --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);

  
    --padding-top: 20px;
    --padding-bottom: 20px;
  }

  .btn-inicia{
    --background: #1baa62;
    --background-hover: #058d49;
    --background-activated: #00ff80;
    --background-focused: #07c265;
  
    --border-radius: 10px;
    --border-width: 1px;
  
    --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);

  
    --padding-top: 20px;
    --padding-bottom: 20px;
  }
