<ion-content [fullscreen]="true">

  <div class="bg-white pr-1 pl-1">
    <p class="font-bold text-2xl mt-2 p-4 ml-2 text-center">Menu</p>
    <p class="font-black text-2xl ml-4 mb-4 text-green-800 text-start">Descrube <span
        class="text-orange-600">nuestros</span> sabores</p>

    <div class="ml-4 flex items-center justify-between mb-4">
      <div class="flex-1">
        <input type="text" placeholder="Healthy Food"
          class="w-full p-2 rounded-lg border border-gray-300 focus:ring-2 focus:ring-yellow-500" />
      </div>
      <ion-button class="btn-primary  text-white font-bold h-12 px-2 rounded ">
        <ion-icon class="h-12 w-7" name="options-outline"></ion-icon>
      </ion-button>
    </div>

    <div class="ml-4 flex space-x-3 overflow-x-auto ">
      <button class="bg-yellow-400 text-white font-semibold px-4 py-2 rounded-full">
        <div class="flex items-center">
          <ion-icon name="pizza-outline" class="h-5 w-5 mr-2"></ion-icon>
          Fast Food
        </div>
      </button>
      <button class="bg-gray-100 text-gray-700 font-semibold px-4 py-2 rounded-full">
        Fruits
      </button>
      <button class="bg-gray-100 text-gray-700 font-semibold px-4 py-2 rounded-full">
        Drinks
      </button>
      <!-- Más categorías -->
    </div>

    <div class="mx-auto max-w-3xl px-4 py-10   lg:max-w-7xl lg:px-8">

      <div class=" grid grid-cols-2 gap-x-3 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">

        <div *ngFor="let product of products" class="rounded-[17px] border border-1 border-gray-200 shadow-sm ">
          <div
              class="aspect-h-1 aspect-w-1 pr-4 pt-2  pl-4 overflow-hidden rounded-[20px]  lg:aspect-none group-hover:opacity-75 lg:h-25">
            <img [src]="product.Imagen" alt="Front of men&#039;s Basic Tee in black." (click)="setSelectedProduct(product)"
              class="h-30 w-50  rounded-[20px] object-cover object-center ">
          </div>
          <div class="p-2 " >
            <h2 class="text-lg font-bold truncate"> {{product.Nombre}}</h2>
            <p class="text-sm text-gray-500">Fresh Tomato</p>
            <div class="flex justify-between items-center mt-2">
              <span class="font-bold">${{product.Precio}}</span>
              <ion-button  size="small" color="success" class="z-10">
                <ion-icon slot="icon-only" ios="logo-apple" name="add" size="medium" color="light"></ion-icon>
              </ion-button>
            </div>
          </div>
        </div>
  
      </div>
     

      <div #page>
        <ion-modal #modal [canDismiss]="canDismiss" [presentingElement]="page">
          <ng-template [fullscreen]="true">
            <ion-content class="bg-gray-100">
              <!-- Sección superior con la imagen -->
              <div class="relative bg-gray-100">
               
                <img [src]="selectedProduct?.Imagen" alt="Platillo" class="w-full h-60 object-cover rounded-b-lg opacity-90">
                <!-- Botón de cerrar -->
                <ion-icon name="close-outline" (click)="modal.dismiss()" class="absolute top-4 left-4 text-gray-600 text-2xl"></ion-icon>
              </div>
      
              <!-- Contenido principal con borde redondeado en la parte superior -->
              <div class="p-6 bg-white rounded-t-[50px] min-h-full -mt-8 z-20 relative shadow-lg">
                
                     <!-- Información de tiempo, porciones, calorías y dificultad -->
                     <div class="flex justify-around mt-4">
                      <div class="text-center">
                        <ion-icon name="time-outline" class="text-yellow-500 text-2xl"></ion-icon>
                        <p class="text-gray-800 mt-1">35 minsvh</p>
                      </div>
                      <div class="text-center">
                        <ion-icon name="people-outline" class="text-yellow-500 text-2xl"></ion-icon>
                        <p class="text-gray-800 mt-1">03 servings</p>
                      </div>
                      <div class="text-center">
                        <ion-icon name="flame-outline" class="text-yellow-500 text-2xl"></ion-icon>
                        <p class="text-gray-800 mt-1">103 Cal</p>
                      </div>
                      <div class="text-center">
                        <ion-icon name="fitness-outline" class="text-yellow-500 text-2xl"></ion-icon>
                        <p class="text-gray-800 mt-1">Easy</p>
                      </div>
                    </div>
                <!-- Título del platillo y calificación -->
                <div class="flex justify-between items-center">
                  <div>
                    <h2 class="text-xl font-bold text-gray-800 mt-5">{{ selectedProduct?.Nombre }}</h2>
                      <p class="text-sm text-gray-600">Western</p>
                  </div>
                 
                </div>

                <div  class="flex justify-between items-center mb-4 mt-4">
                 
                  <div class="flex items-center">
                    <ion-icon name="add-circle-outline" class="text-yellow-500 text-3xl"></ion-icon>
                    <span class="font-bold text-2xl mx-4">2</span>
                    <ion-icon name="remove-circle-outline" class="text-yellow-500 text-3xl"></ion-icon>
                  </div>

                  <div class="flex items-center">
                    <span class="ml-2 font-bold text-2xl">${{ selectedProduct?.Precio }}</span>
                  </div>
                </div>
      
                <div>
                  <p class="text-md text-gray-600">{{ selectedProduct?.Descripcion }}</p>
                </div>
      
                <!-- Lista de ingredientes -->
                <div class="mt-6">
                  <h3 class="font-bold text-xl text-gray-800">Ingredientes</h3>
                  <ul class="list-disc list-inside text-gray-700 mt-2">
                    <li>2 Eggs</li>
                    <li>1 Cup All purpose flour</li>
                    <li>1/2 Cup Whole milk</li>
                    <li>2 Tablespoon Butter</li>
                  </ul>
                </div>
      
                <!-- Botones para agregar y controlar la cantidad -->
                <div class="flex justify-between items-center mt-6">
                  
                  <ion-button class="ion-button-login text-white w-full font-bold text-[12px]">
                   Agregar al carrito
                  </ion-button>
                </div>
              </div>
            </ion-content>
          </ng-template>
        </ion-modal>
      </div>
      
      

    </div>
  </div>

</ion-content>