<ion-content [fullscreen]="true">

  <div class="bg-white pr-1 pl-1">
    <p class="font-bold text-2xl mt-2 p-4 ml-2 text-center">Menu</p>
    <p class="font-roboto font-bold text-2xl ml-4  text-green-800 text-start">Descrube nuestros sabores unicos</p>
    <div class="flex items-center ml-2 mr-2 mt-2">
      <ion-searchbar
        show-cancel-button="always"
        cancel-button-text="Custom Cancel"
        cancel-button-icon="trash"
        placeholder="Busca algo para comer"
      ></ion-searchbar>
      <ion-button class="btn-primary  text-white font-bold h-12 px-2 rounded ">
        <ion-icon class="h-12 w-7" name="options-outline"></ion-icon>
      </ion-button>
    </div>
    <div class="flex justify-start justify-between pr-5 pl-5 mt-4">
      <p class="font-bold">Todos</p>
      <p>Platillos</p>
      <p>Bebidas</p>
      <p>Postres</p>
    </div>
    <div class="mx-auto max-w-2xl px-4 py-10   lg:max-w-7xl lg:px-8">
  
      <div class=" grid grid-cols-2 gap-x-4 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
        <div  class=" rounded-md ">
          <div class="aspect-h-1 aspect-w-1  overflow-hidden rounded-[20px] border-t border bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-25">
            <img src="../../assets/platillo.png" alt="Front of men&#039;s Basic Tee in black." class="h-30 w-50 border-t rounded-[20px] object-cover object-center ">
          </div>
          <div class="mt-2 flex justify-between  items-center pr-2 pl-2">
           
            <p class="text-md font-bold text-gray-700 truncate mr-2" >                 
              Platillo de crema con marisco
            </p>
          
            <ion-button id="open-modal" expand="block"  size="small" color="success" class="z-10">
              <ion-icon slot="icon-only" ios="logo-apple" name="add" size="medium" color="light"></ion-icon>
            </ion-button>
        
          </div>
          <div class="mt-2 flex justify-between items-center pr-2 pl-2 pb-2">
            <div>
              <h3 class="text-md font-bold text-gray-700">
                120$
              </h3>
            </div>
            <p class="text-sm font-medium text-gray-900">Disponibles: 32</p>
          </div>
        </div>
        <div  class=" rounded-md ">
          <div class="aspect-h-1 aspect-w-1  overflow-hidden rounded-[20px] border-t border bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-25">
            <img src="../../assets/platillo2.png" alt="Front of men&#039;s Basic Tee in black." class="h-30 w-50 border-t rounded-[20px] object-cover object-center ">
          </div>
          <div class="mt-2 flex justify-between  items-center pr-2 pl-2">
           
            <p class="text-md font-bold text-gray-700 truncate mr-2" >                 
              Platillo de crema con marisco
            </p>
          
            <ion-button id="open-modal" expand="block"  size="small" color="success" class="z-10">
              <ion-icon slot="icon-only" ios="logo-apple" name="add" size="medium" color="light"></ion-icon>
            </ion-button>
        
          </div>
          <div class="mt-2 flex justify-between items-center pr-2 pl-2 pb-2">
            <div>
              <h3 class="text-md font-bold text-gray-700">
                120$
              </h3>
            </div>
            <p class="text-sm font-medium text-gray-900">Disponibles: 32</p>
          </div>
        </div>
        <div  class=" rounded-md ">
          <div class="aspect-h-1 aspect-w-1  overflow-hidden rounded-[20px] border-t border bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-25">
            <img src="../../assets/platillo3.png" alt="Front of men&#039;s Basic Tee in black." class="h-30 w-50 border-t rounded-[20px] object-cover object-center ">
          </div>
          <div class="mt-2 flex justify-between  items-center pr-2 pl-2">
           
            <p class="text-md font-bold text-gray-700 truncate mr-2" >                 
              Platillo de crema con marisco
            </p>
          
            <ion-button id="open-modal" expand="block"  size="small" color="success" class="z-10">
              <ion-icon slot="icon-only" ios="logo-apple" name="add" size="medium" color="light"></ion-icon>
            </ion-button>
        
          </div>
          <div class="mt-2 flex justify-between items-center pr-2 pl-2 pb-2">
            <div>
              <h3 class="text-md font-bold text-gray-700">
                120$
              </h3>
            </div>
            <p class="text-sm font-medium text-gray-900">Disponibles: 32</p>
          </div>
        </div>
        <div  class=" rounded-md ">
          <div class="aspect-h-1 aspect-w-1  overflow-hidden rounded-[20px] border-t border bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-25">
            <img src="../../assets/platillo2.png" alt="Front of men&#039;s Basic Tee in black." class="h-30 w-50 border-t rounded-[20px] object-cover object-center ">
          </div>
          <div class="mt-2 flex justify-between  items-center pr-2 pl-2">
           
            <p class="text-md font-bold text-gray-700 truncate mr-2" >                 
              Platillo de crema con marisco
            </p>
          
            <ion-button id="open-modal" expand="block" size="small" color="success" class="z-10">
              <ion-icon slot="icon-only" ios="logo-apple" name="add" size="medium" color="light"></ion-icon>
            </ion-button>
        
          </div>
          <div class="mt-2 flex justify-between items-center pr-2 pl-2 pb-2">
            <div>
              <h3 class="text-md font-bold text-gray-700">
                120$
              </h3>
            </div>
            <p class="text-sm font-medium text-gray-900">Disponibles: 32</p>
          </div>
        </div>
      </div>
      

      <div #page>
          <ion-modal #modal trigger="open-modal" [canDismiss]="canDismiss" [presentingElement]="page">
            <ng-template>
              <ion-content>
                <div class="p-5">
                  <div class="flex justify-end">
                    <ion-buttons slot="end">
                      <ion-button (click)="modal.dismiss()"><ion-icon name="close-outline" class="h-10 w-10"></ion-icon></ion-button>
                    </ion-buttons>
                  </div>
                  <div class="mb-2">
                    <img src="../../assets/platillo2.png" alt="Front of men&#039;s Basic Tee in black." class="h-1/2 w-full ">
                  </div>

                </div>
                <div class="flex mt-2 pr-4 pl-4 ml-3 items-center">
                  <div class="flex items-center mr-4">
                    <ion-icon name="alarm-outline" class="h-7 w-7 mr-2"></ion-icon> 
                    <span >40 minutos</span>
                  </div>
                  <div class="flex items-center">
                    <ion-icon name="fast-food-outline" class="h-7 w-7 mr-2"></ion-icon>
                    <span >Platillo fuerte</span>                
                  </div>
                </div>
                <div class=" ml-3 p-5">
                  <div class="flex justify-between items-center ">
                    <p class="font-bold text-start text-2xl mt-4">Platillo de crema con marisco incluidos</p>
                    <p class="font-bold text-end text-3xl text-red-700">120$</p>
                  </div>
                  <p class="font-normal text-start text-md mt-4">Para  jhdbjhd jbndjhhnkg kojfotr ho ioftorot jnrtn oionjrepresentar el stock o la cantidad de un producto en Ionic, puedes usar alguno de los siguientes iconos</p>
                </div>
                <div class="flex justify-start justify-between pr-8 pl-8 mt-4">
                  <p class="font-bold">Todos</p>
                  <p>Platillos</p>
                  <p>Bebidas</p>
                  <p>Postres</p>
                </div>
                <div class="p-5 ml-3 flex  justify-center fixed bottom-8 w-full bg-white ">
                  <div class="flex justify-between m-2 items-center">
                    <ion-icon name="add-circle-outline" class="h-10 w-10 mr-2"></ion-icon>
                    <span class="font-bold text-2xl mr-2">2</span>
                    <ion-icon name="remove-circle-outline" class="h-10 w-10 mr-2"></ion-icon>
                  </div>
                  <ion-button class="btn-primary  text-white font-bold h-12 px-2 rounded ">
                    <ion-icon name="cart" class="mr-2"></ion-icon> Agregar al carrito 
                  </ion-button>
                </div>
              </ion-content>
            </ng-template>
          </ion-modal>
      </div>
      
    </div>
  </div>

</ion-content>
