<ion-content [fullscreen]="true" >
  <div *ngIf="promociones.length <= 0" class="flex justify-center items-center mt-8">
    <ion-spinner name="crescent"></ion-spinner>
    <p class="ml-2 text-lg">Cargando...</p>
  </div>
  
  <div class="p-4 mr-2 ml-2">
    <p class="text-2xl text-center font-bold mt-5 mb-4">Home</p>

    <div class="flex-1">
      <input type="text" placeholder="Healthy Food" class="w-full p-2 rounded-lg border border-gray-300 focus:ring-2 focus:ring-yellow-500" />
    </div>
    
   <!-- Alguna página de Ionic donde se usa app-direccion -->
    <app-direccion></app-direccion>



    <div *ngFor="let promocion of promociones" class="rounded-[17px] border border-1 border-gray-200 shadow-sm ">
      <div class="">
        <div class="bg-green-400 rounded-2xl p-4 w-full h-[180px] shadow-lg relative">
          <!-- Logo de la empresa y botón de guardar -->
          <div class="flex justify-between items-start">
            <!-- Logo -->
            <div class="flex items-center">
              <img src="" alt="Logo" class="w-8 h-8 rounded-full">
              <div class="ml-2">
                <h2 class="text-white font-bold">La Casa del Marisco</h2>
                <p class="text-gray-200 text-sm">Promocion</p>
              </div>
            </div>
      
          </div>
      
         <div class="flex flex-row items-center justify-between ">
          <div class="flex justify-center">
            <img src="../../assets/platillo.png" alt="Pizza" class="ml-4 w-[100px] h-[100px] object-cover">
          </div>
      
          <div class="mt-2 text-white pl-4">
            <h3 class="text-lg font-bold">{{promocion.Nombre}} <span class="text-green-800">2x1</span> jueves </h3>
            <p class="text-sm text-gray-200">{{promocion.Descripcion}}</p>
            <p class="text-xl font-bold pb-5">{{promocion.Descuento}}%</p>
          </div>
         </div>
         
        </div>
      </div>
    </div>

   
    <div class="pr-2 pl-2 mt-8">
      <p class="font-black text-xl mb-4 ">Mejores <span class="text-orange-600">platillos</span> de la casa</p>
      <div class="flex overflow-x-auto space-x-4">
        <div *ngFor="let product of lastThreeProducts" class="rounded-[17px] border border-1 border-gray-200 shadow-sm ">
          <div class="min-w-[150px] rounded-md m-2">
            <div class="h-[120px] w-full overflow-hidden rounded-[20px]">
              <img src="{{product.Imagen}}" alt="Hamburguesa" class="h-[120px] w-[120px] object-cover object-center rounded-[20px]">
            </div>
            <div class="mt-2 flex justify-between items-center ">
              <h2 class="text-lg font-bold truncate w-full max-w-[100px]">{{product.Nombre}}</h2>
              <div class="flex ml-2">
                <ion-icon name="star" class="w-5 h-5 text-yellow-500 mr-1"></ion-icon><span>4.5</span>
              </div> 
            </div>   
            <p class="text-sm text-gray-500">{{product.Ingredientes}}</p>
            <div class="flex justify-between items-center mt-2">
              <span class="font-bold">${{product.Precio}}</span>  
              <ion-icon name="heart-outline" class="w-5 h-5"></ion-icon>
            </div>
  
          </div>
        </div>
      </div>
      
    </div>

  </div>
</ion-content>
