<ion-content [fullscreen]="true">
  <div class="p-5">
    <p class="font-bold text-center text-3xl">Mi carrito</p>
    <p class="text-md mt-5">Revisa cada detalle de tu pedido, puedes cambiar la dirección en la página oficial.</p>

    <app-direccion></app-direccion>

    <p class="text-xl font-bold">Tus productos</p>

    <div *ngIf="loading && carrito.length <= 0" class="flex justify-center items-center mt-8">
      <ion-spinner name="crescent"></ion-spinner>
      <p class="ml-2 text-lg">Cargando...</p>
    </div>
    
    <div *ngIf="noPedidos && !loading" class="flex justify-center items-center mt-8">
      <p class="text-lg text-gray-600">No tiene agregado nada aún</p>
    </div>
    
      <div *ngFor="let producto of carrito" class="flex flex-row mt-4 items-center border-t border-1">
      <div class="max-w-2xl mr-3">
        <img [src]="producto.Imagen" class="h-20 w-20" alt="{{ producto.Nombre }}">
      </div>
      <div class="flex flex-col">
        <div>
          <p class="text-gray-900">{{ producto.Nombre }}</p>
        </div>
        <div class="flex flex-row items-center">
          <div class="flex justify-between m-2 items-center">
            <button name="add-circle-outline" class="h-6 w-6 mr-4" (click)="quitarCarrito(producto.idProducto, producto.idCarritoProductos)"><ion-icon name="remove-circle-outline" class="h-6 w-6 mr-4"></ion-icon>
            </button>
            <span class="font-bold text-xl mr-4">{{ producto.Cantidad }}</span>
            <button (click)="agregarAlCarrito(producto.idProducto)">
              <ion-icon name="add-circle-outline" class="h-6 w-6 mr-4"> </ion-icon>
            </button>
          </div>
          <div>
            <p class="font-bold text-xl">{{ producto.Precio }}$</p> 
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="carrito.length > 0" class="flex justify-center items-center mt-8">
      <div class="w-full flex justify-center mt-4">
        <a href="pagarcarrito" class="w-full bg-green-600 text-white py-2 rounded-md hover:bg-green-700 text-center">
          Pagar Carrito
        </a>
      </div>
    </div>
    <div *ngIf="noPedidos && !loading" class="w-full flex justify-center mt-4">
      <a href="home/tabs/tab2" class="w-full bg-green-600 text-white py-2 rounded-md hover:bg-green-700 text-center">
         Ver productos
      </a>
    </div>
  </div>
</ion-content>
