.ion-button-login {
  --background: #16A34A;
  --background-hover: #058d49;
  --background-activated: #16A34A;
  --background-focused: #16A34A;

  --border-radius: 15px;
  --border-width: 1px;

  --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);


  --padding-top: 14px;
  --padding-bottom: 14px;
  }

  .ion-button-registro {
    --background: #ffffffee;
    --background-hover: #ffffffee;
    --background-activated: #00ff80;
    --background-focused: #ffffffee;

    --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);

  
    --border-radius: 15px;
    --border-width: 1px;
    --border-color:rgba(0, 0, 0, 0.596);
  
    --padding-top: 14px;
    --padding-bottom: 14px;
  }