<ion-content [fullscreen]="true">
  <div class="">
    <div class="pl-8 pr-8 mt-8 justify-center">
      <img clas="" src="../../assets/logo.png">
    </div>
    <div>
      <img clas="w-2 h-full " src="../../assets/inicio.png">
    </div>
    <p class="font-bold text-2xl text-center mt-6 ml-4 m-r4">Todos nuestros</p>
    <p class="font-bold text-2xl text-center ml-4 mr-4">productos al alcance de</p>
    <p class="font-bold text-2xl text-center ml-4 m-r4">tus manos</p>
    <p class="font-normal text-gray-600 text-md text-center mt-4 pt-4 ml-4 mr-4">Bienvenido ordena lo que mas te guste desde la </p>
    <p class="font-normal text-gray-600 text-md text-center  ml-4 mr-4">comodidad de tu asiento</p>
    <div class="flex flex-col mr-6 ml-6 pt-5 pr-2 pl-2 mt-5">
      <ion-button class="ion-button-login shadow-lg text-white font-bold  text-xl "><a href="/login">Login</a></ion-button>
      <ion-button fill="outline" class="ion-button-registro shadow-lg mt-6 text-xl font-bold text-green-800 ">Registar</ion-button>
    </div>
  </div>
</ion-content>
